.caption {
  position: relative;
  height: auto;
}

.floatingLabelStyle {
  top: 50%;
}

.underlineStyle,
.floatingLabelFocusStyle {
  color: #42aaea;
}
.underlineFocusStyle{
  borderColor: #42aaea;
}

.textareaStyle,
.inputStyle {
  margin: 0;
  line-height: 18px;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.textareaStyle div {
  white-space: nowrap;
}
