@import "utilities/u-card";
@import "vars/colors";
.root {
  position: relative;
  flex: 1;
  input[type='file'] {
    color: transparent;
  }
}

.warning{
  background-color: var(--c-cyan-blue);
}

.input {
  display: none;
  input[type='file'] {
    color: transparent;
  }
}
