@import 'font-faces';
//@import "site/breakpoints";
@import 'vars/colors';
@import 'vars/media-queries';
@import 'vars/fonts';


@import "../../../node_modules/hamburgers/dist/hamburgers.css";
@import "../../../node_modules/react-select/dist/react-select.css";
@import "../../../node_modules/react-dates/lib/css/_datepicker.css";

@import 'site/components/app';
@import 'site/components/menu';
@import 'site/components/react-dates';
@import 'site/components/react-table';
@import 'site/components/dropdown';
@import 'site/animations/animations';

@import 'objects/o-upgrade';
@import 'objects/o-icon';
@import 'objects/o-btn';
@import 'objects/o-media';
@import 'objects/o-page';
@import 'utilities/u-scroll';
@import 'utilities/u-flex';
@import 'utilities/u-overlay';
@import 'utilities/u-grab';
@import 'utilities/u-page';


@import './vendor/loader';
@import "./vendor/font-awesome";

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
