@import "vars/colors";
@import "vars/sizes";

%text-fa-before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(calc(-50% - 1px));
}

%text-icons {
  color: var(--c-text);
  font-size: var(--fs-textIcon);
  width: var(--fs-textIcon);
}

%icons {
  svg {
    path {
      transition: fill 0.3s ease-in-out-sine;
      fill: var(--c-icons);
    }
  }
}

.icon {
  cursor: pointer;
  position: relative;

  @extend %icons;

  .svgIcon {
    width: var(--icons);
    height: var(--icons);
    background-color: var(--c-icons);
  }

  &:after {
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    width: calc(var(--icons) + 4px);
    height: calc(var(--icons) + 4px);
    outline: 1px dashed var(--drop-shadow);
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: all 0.2s ease-in-out-sine;
  }

  &:hover {
    &:after {
      position: absolute;
      content: '';
      top: -2px;
      left: -2px;
      opacity: 1;
      width: calc(var(--icons) + 4px);
      height: calc(var(--icons) + 4px);
      outline: 1px dashed var(--drop-shadow);
      visibility: visible;
      transform: scale(1);
    }
    svg {
      path {
        transition: fill 0.3s ease-in-out-sine;
        fill: var(--c-icons--hover);
      }
    }

    .svgIcon {
      background-color: var(--c-icons--hover);
    }
  }

  .selected & {
    svg {
      path {
        transition: fill 0.3s ease-in-out-sine;
        fill: var(--c-icons--selected);
      }
    }
  }
}
