// font families
$ff-base: 'primary', 'Helvetica', 'Arial', sans-serif;

//SEE sizes.css

// font sizes
$fs-title--main: 22px;
$fs-title: 16px;
$fs-base: 15px;
$fs-desc: 12px;
$fs-sm: 10px;
$fs-xsm: 8px;
