@import "vars/colors";
@import "vars/flex";
@import "vars/sizes";

.root {
  position: relative;
  display: flex;
  flex-direction: var(--flex-sequence);
  align-items: center;
  justify-content: space-between;
  background-color: var(--c-grey-darkest);
  width: 100%;
  height: var(--header-height);
}
