.u-container {
  position: relative;
  &.full{
    width:100%;
    height:100%;
  }
}

.u-page {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.u-hide{
  display: none !important;
}

.u-hide-visible{
  visibility: hidden;
  opacity: 0;
}

.u-scrollPadding{
  padding-right: 12px;
}

.u-paddingShadow{
}