@import "vars/flex";
@import "utilities/u-card";

.root{
  position: relative;
  width: 100%;
  padding: 8px 4px 8px 4px;
}

.row{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: var(--flex-sequence);
  div{
    flex:1;
  }
}

.calendar {
  width: 100% !important;
}
