@import "vars/colors";
@import "vars/sizes";
@import "vars/flex";
@import "vars/transitions";
@import "utilities/u-card";

.root{
  position: relative;
  width: 100%;
  height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.graphWrapper{
}